<div class="window-container">
  <div class="window-heading">
    <span>ITEM CONFIGURATION</span>
  </div>
  <div class="window-content">
    <form [formGroup]="itemForm">
      <div class="sup-select">
        <div class="sup-form-label">
          <span>category</span>
        </div>
        <select formControlName="category">
          <option value="New">New</option>
          <option value="Jackets">Jackets</option>
          <option value="Shirts">Shirts</option>
          <option value="Tops/Sweaters">Tops/Sweaters</option>
          <option value="Sweatshirts">Sweatshirts</option>
          <option value="Pants">Pants</option>
          <option value="Hats">Hats</option>
          <option value="Bags">Bags</option>
          <option value="Accessories">Accessories</option>
          <option value="Shoes">Shoes</option>
          <option value="Skate">Skate</option>
        </select>
      </div>
      <div class="sup-input">
        <div class="sup-form-label">
          <span>keywords</span>
        </div>
        <input type="text" formControlName="keywords" />
      </div>
      <div class="sup-input">
        <div class="sup-form-label">
          <span>style</span>
        </div>
        <input type="text" formControlName="style" />
      </div>
      <div class="sup-select">
        <div class="sup-form-label">
          <span>size</span>
        </div>
        <select formControlName="size">
          <option value="N/A">No Size</option>
          <option value="Small">Small</option>
          <option value="Medium">Medium</option>
          <option value="Large">Large</option>
          <option value="XLarge">XLarge</option>
        </select>
      </div>
      <span class="form-info">alternative style and size</span>
      <div class="sup-input">
        <div class="sup-form-label">
          <span>style</span>
        </div>
        <input type="text" formControlName="styleAlternative" />
      </div>
      <div class="sup-select">
        <div class="sup-form-label">
          <span>size</span>
        </div>
        <select formControlName="sizeAlternative">
          <option value="N/A">No Size</option>
          <option value="Small">Small</option>
          <option value="Medium">Medium</option>
          <option value="Large">Large</option>
          <option value="XLarge">XLarge</option>
        </select>
      </div>
    </form>
  </div>
  <div class="window-bottom-actions">
    <sup-button
      label="cancel"
      color="black"
      size="large"
      routerLink="/home/items"
      class="button-padding"
    ></sup-button>
    <sup-button
      label="save/add item"
      color="red"
      size="large"
      (click)="addItem()"
    ></sup-button>
  </div>
</div>
