<div class="content-half-container">
  <div class="content-half">
    <div class="content-heading-bar">
      <span>billing/shipping information</span>
    </div>
  </div>
  <div class="content-half">
    <div class="content-heading-bar">
      <span>credit card information</span>
    </div>
  </div>
</div>
<div class="window-bottom-actions">
  <sup-button
    label="save"
    color="black"
    size="large"
    class="button-padding"
  ></sup-button>
  <sup-button label="next" color="red" size="large"></sup-button>
</div>
