<p>
  This bot was created by Maximilian Winter.<br />
  <br />
  --- <br />
  <b
    >NOTE: THIS BOT WILL COP THE IN STOCK ITEM YOU CONFIGURED AND CHECKOUT
    AUTOMATICALLY. MAKE SURE YOU CONFIGURE THE BOT AS ACCURATELY AS POSSIBLE.
    THERE IS NOT LIABILITY IF THE BOT SELECTS AND BUYS THE WRONG ITEM OR CHECKS
    OUT WITH THE WRONG CHECKOUT OPTIONS. THE BOT IS IN NO WAY AFFILIATED WITH
    SUPREMENEWYORK OR ITS ASSOCIATES.</b
  >
  <br />
  --- <br />
  <br />
  How it works: <br />
  - Add item to cop. <br />
  - Set up your profile. <br />
  - If needed change the default settings. <br />
  - Start the bot before the drop (at least 2 minutes before). <br />
  - While waiting until the countdown is over harvest captchas constantly in the
  harvester window that opens automatically after you started the bot.
  <br />
  - If the countdown is over the bot will cop automatically.
  <br />
  <br />
  Tips: <br />
  - There is a test mode available in the settings (will cause that the checkout
  button will not be clicked). <br />
  - You can set a price limit in the settings (shipping included). <br />
  - While the bot is in cop process do not click anything. <br />
</p>
