@import "~styles/global/variables";

button {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Courier New";
  font-weight: bold;
  font-size: 12px;
  background-color: black;
  outline: none;
  &:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.75);
  }
}

.small {
  padding: 5px 10px;
}
.large {
  padding: 15px 32px;
}
.red {
  background-color: $color-red;
}
.black {
  background-color: black;
}
