<p id="confirmation-info">
  Ready to start the bot! <br />
  <br />
  Profile: Custom <br />
  Please check again that your item, profile and settings are correctly
  configured!
  <br />
  <br />
  It is prefered to start the bot about 2 minutes before the drop. A window
  <br />
  with captchas will open and you will have to constantly fill them out. <br />
  <br />
  For more information go to the about page.
</p>
<div class="divider"></div>
<items-list></items-list>
<div class="fit-space"></div>
<div class="window-bottom-actions">
  <sup-button
    label="start the bot"
    color="red"
    size="large"
    (click)="start()"
  ></sup-button>
</div>
