@import "~styles/global/variables";

#section-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  #logo {
    text-align: center;
    background-color: $color-red;
    span {
      font-family: "Futura Std Heavy Oblique";
      font-size: 33px;
      color: white;
      padding: 4px 8px;
    }
  }
  #time {
    margin-top: 15px;
    margin-bottom: 50px;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 670px;
  height: 420px;
}

#main-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 14px;
  .main-nav-item {
    text-decoration: none;
    color: black;
    margin-right: 16px;
    &:first-child {
      margin-left: 8px;
    }
    &:hover {
      background-color: $color-red;
      color: white;
      cursor: pointer;
    }
  }
}
