<div id="section-top">
  <div id="logo">
    <span>Supbot</span>
  </div>
  <span id="time">11/05/2019 12:00:00</span>
</div>
<main>
  <router-outlet></router-outlet>
</main>
<div id="main-nav">
  <a class="main-nav-item" routerLink="home">home</a>
  <a class="main-nav-item" routerLink="history">history</a>
  <a class="main-nav-item" routerLink="settings">settings</a>
  <a class="main-nav-item" routerLink="news">news</a>
  <a class="main-nav-item" routerLink="about">about</a>
  <span>v1.0</span>
</div>
