<span class="content-heading">2 items for the bot</span>
<div class="divider"></div>
<div class="items">
  <div class="item">
    <div class="item-info">
      <span class="item-name">Box Logo Hooded Sweatshirt</span>
      <span class="item-style">Style: Grey</span>
      <span class="item-size">Size: Medium</span>
    </div>
    <div class="item-actions">
      <sup-button label="remove" color="black" size="small"></sup-button>
    </div>
  </div>
</div>
<div class="window-bottom-actions"></div>
