<span class="content-heading">{{ itemsCount }} items for the bot</span>
<div class="divider"></div>
<items-list (itemsCountChanged)="itemsCountChangedHandler($event)"></items-list>
<div class="fit-space"></div>
<div class="window-bottom-actions">
  <sup-button
    label="add item"
    color="black"
    size="large"
    class="button-padding"
    routerLink="/add-item"
    [disabled]="itemsCount == 1"
  ></sup-button>
  <sup-button
    label="next"
    color="red"
    size="large"
    routerLink="/home/profile"
  ></sup-button>
</div>
